@charset "UTF-8"; 
html {
  font-family: Helvetica; 
  display: inline-block; 
  margin: 0px auto;
} 

th {
  background-color: #000080;
  color: white;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
