@charset "UTF-8"; 
html {
  font-family: Helvetica; 
  display: inline-block; 
  margin: 0px auto;
} 

#realtimeData {
  background-color: navy;
  color: white;
}

#ratedData {
  background-color:green;
  color: white;
}

#statisticalData {
  background-color: maroon;
  color: white;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
