@charset "UTF-8"; 
html {
  font-family: Helvetica; 
  display: inline-block; 
  margin: 0px auto;
} 

#realtimeData {
  background-color: rgb(0, 0, 80);
  color: white;
}

#ratedData {
  background-color: rgb(76, 175, 80);
  color: white;
}

#statisticalData {
  background-color: rgb(175, 76, 76);
  color: white;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
